# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.agent
.antigravity
.design
.agents

/lib/generated/prisma

# Rust / Soroban
**/target/
contracts/**/target/
contracts/**/deploy_output.txt
contracts/**/error_output.txt

# ZK / Circom
**/node_modules
circuit/*.ptau
circuit/*.zkey
circuit/*.r1cs
circuit/*.sym
circuit/*_js/

# Local Temporary & Debug Files
/tmp/
/ts_errors.txt
/diff.txt
/test.css
/tmp_script.py
/agent/venv
/**/__pycache__/